*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.it_head{
    font-size: 3.2rem;
    text-align: center;
    margin-top: 2.9rem;
    font-weight: 550;
}

.it_para{
    text-align: center;
    margin: 4rem;
    font-weight: 400;
}

img{
    height: 8rem;
    width: auto;
}

.hero_main{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 4rem;
    margin: 5rem;
    margin-bottom: 6rem;
}

.hero_main_1{
    padding: 1.4rem;
    border-radius: 1.5rem;
    width: calc(25% - 10%);
    background-color:  #f1f1f1;
}

p{
    margin-top: 0.8rem;
    margin: 1rem;
}

.hero_main_tag{
    text-decoration: none;
    color: inherit;
    margin: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_main_1:hover{
    transform: scale(1.1);
    background-color: black;
    transition: 0.3s;
    color: white;
}

@media only screen and (max-width: 768px){
    .it_head{
        font-size: 1.8rem;
        margin: 1.9rem;
    }

    .it_para{
        font-size: 0.9rem;
        margin: 1.9px;
        margin-bottom: 2rem;
    }

    .hero_main{
        flex-wrap: wrap;
        gap: 0.8rem;
        margin: 0.1rem;
        gap: calc(50% - 11rem);
    }

    .hero_main_1 {
        margin: 0.6rem;
        padding: 3rem;
        padding-top: 0;
        padding-bottom: 0;
        gap: 0;
        border-radius: 1.5rem;
    }

    img {
        width: 8rem;
        height: auto;
    }

    p{
        font-size: 1rem;
        font-weight: 300;
    }
}

